* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(64, 39, 126);
    margin: 10px;
    padding: 10px;
}

img {
    width: 400px;
    height: 350px;
    margin: 20px;
    border: 2px solid gold;
    border-radius: 50%;
}

h1 {
    text-shadow: 3px 3px #000000;
    font-size: 60px;
}

h3 {
    text-decoration: underline;
    font-size: 30px;
}

.flex-container,
.everything {
    display: flex;
    flex-direction: column;
    border: 2px solid gold;
    align-items: center;
    color: gold;
}

.title {
    font-weight: 1000;
    margin-bottom: .5em;
}

.index-list {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.index-list a,
.everything {
    border: solid 2px gold;
    color: gold;
    flex: 1;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    align-content: space-around;
}

.recipe li {
    margin-bottom: 10px;
}

/* Home page pictures */
.pics {
    display: flex;
}

.pics img {
    flex-direction: column;
}