* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(64, 39, 126);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

img {
    width: 300px;
    height: 300px;
}

.index-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.index-list a {
    border: solid 2px gold;
    color: aliceblue;
    flex: 1;
    text-decoration: none;
}