* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(64, 39, 126);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

img {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    border: 2px solid gold;
    align-items: center;
    color: gold;
}

.title {
    
}

.index-list {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.index-list a {
    border: solid 2px gold;
    color: gold;
    flex: 1;
    padding: 10px;
    text-decoration: none;
    align-content: space-around;
}